.articles-background{
    border-top-left-radius: 2%;
    border-top-right-radius: 90%;
  background-image: url(../assets/blackforest.jpg);
  padding-bottom: 5%;
  /* border-top: solid red 5px; */
  /* border-top-left-radius: 5px; */
  width: 500%;
  padding-top: 7%;
  padding-left: 14%;
  height:180rem;
  background-position-y: center;
  }

  .articles-background h1{
    padding-left: 6%;
    padding-bottom: 2%;
  }

  .article{
    color: #010017;
    display: flex;
    flex-direction: row;
    padding-bottom: 5rem;
  }

  .art1{
    width: 40vw;
  }

  .art1 p{
    padding-top: 1rem;
    
  }

  .art2{
   padding-left: 8rem;
   padding-top: 3rem;
   
  }

  .art1 button {
    /* background:#010017; */
    color: white;
    text-decoration: cornsilk;
  }